################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode/extensions.json
/.vscode/extensions.json

*.flat
*.cache
*.flata
*.props

/Notes/bin/**
/Notes/obj/**
/Notes/obj/Debug/